.bg-primary {
  background-color: #f0f0f0 !important;
  color: #333 !important;
}

.home h2 {
  font-size: 1.8em;
}

.homeborder {

	font-weight: 500 !important;
	border-bottom: 4px solid #af3c43;
  width: 65%;
  margin-top: 0.4em !important;
}

.experimental .bg-gctheme.well.header-rwd {
  background-color: #333;
  margin-top: 1em;
}

/* slim header */
#wb-bnr {
  position: relative !important;
}

#lang {
  position: absolute !important;
  right: 0;
  top: .6em;
}

#sm-lang {
  position: absolute !important;
  top: .6em;
}

.brand {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.submit button {
  z-index: 1000 !important;
  position: relative !important;
}

#wb-srch form .form-group {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#wb-srch, .srchbox {
 padding-top: 5px !important;
}


@media screen and (max-width: 5120px)
      {
#wb-lng {
  padding-top: 0px;
  margin-top: -10px;
}

#wb-bnr {
  margin-top: .75em;
  margin-bottom: .75em;
        }


#wb-srch input {
 max-width: 19em;
}

#lang {
 right: 0;
}

#sm-lang {
  visibility: hidden;

}

}

@media screen and (max-width: 768px)
      {

#wb-lng {
  padding-top: 0px;
  margin-top: 0px;
        }

#wb-bnr {
      margin-top: 0em;
      margin-bottom: 0em;
    }

#wb-srch input {
  max-width: 42.4em !important;
  min-width: 42.4em !important;
  height: 39px;

}
.form-group {
 margin-bottom: 4px;
}

}


@media screen and (max-width: 425px)
      {
#wb-srch input {
 min-width: 22.1em !important;
 max-width: 22.1em !important;
 height: 39px;
}

#lang {
 right: 1.3em !important;
 top: 1em !important;

}

#sm-lang {
  visibility: hidden;

}

body.transactional div#wb-bnr div.brand {
		left: 0px !important;
		position: static;
}


}



@media screen and (max-width: 375px)
      {
#wb-srch input {
 max-width: 19em !important;
 min-width: 19em !important;
 height: 39px;

}

#lang {
 visibility: hidden;

}

#sm-lang {
 right: .25em;
 visibility: visible;
 top: 1.2em !important;


}

}


@media screen and (max-width: 320px)
      {
#wb-srch input {
 max-width: 13.5em !important;
 min-width: 13.5em !important;
 height: 39px;


}

#lang {
 visibility: hidden;
}

header .brand a {
  width: 80% !important;
}

#sm-lang {
 right: 0em;
 top: 1.2em !important;
}

#wb-srch-sub {
  position: relative;
  right: 2em;
  top: .02em;
}
}
